[submodule "docs/twitter-api"]
	path = docs/twitter-api
	url = https://github.com/fa0311/TwitterInternalAPIDocument.git
[submodule "static/tabler"]
	path = static/tabler
	url = https://github.com/tabler/tabler.git
