<!DOCTYPE html>
<html>
    <head>
        <title>Submit Twitter Cookie</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <h1>Submit Twitter Cookie</h1>
        <form action="/api/cookie" method="POST" enctype="application/x-www-form-urlencoded">
            <textarea name="twitter_cookie" rows="10" cols="50" placeholder="Paste your Twitter cookie here"></textarea>
            <br>
            <button type="submit" class="button">Submit</button>
        </form>
    </body>
</html> 